# Virtual environment
myenv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*.local

# FAISS / vector index files
*.faiss
*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files (VS Code, PyCharm)
.vscode/
.idea/
